{% extends 'base.html.twig' %}

{% block title %}
    Ecom - Home
{% endblock %}

{% block body %}
    <div class="container my-4">
        <h1 class="text-center mt-5">Bienvenue chez AutoDeal</h1>
        <h2 class="text-center mb-5">Où chaque voiture raconte une histoire unique, la vôtre commence ici.</h2>

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ asset('pictures/audi-a1.jpg') }}" class="d-block w-100" alt="Slide 1">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('pictures/citroen.jpg') }}" class="d-block w-100" alt="Slide 2">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('pictures/peugeot-207.jpg') }}" class="d-block w-100" alt="Slide 3">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('pictures/peugeot-208.jpg') }}" class="d-block w-100" alt="Slide 4">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('pictures/peugeot-308.jpg') }}" class="d-block w-100" alt="Slide 5">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('pictures/senic.jpg') }}" class="d-block w-100" alt="Slide 6">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('pictures/Voiture_BMW.jpg') }}" class="d-block w-100" alt="Slide 7">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <h3 class="mb-4 fw-bold">Nos Produits</h3>

       {% for category in categories %}
            <div class="category-section mb-5">
                <h3 class="category-title text-decoration-underline">{{ category.namename }}</h3>
                <div class="row justify-content-center">
                    {% for product in category.products %}
                        <div class="col-6 col-sm-4 mb-4">
                            <div class="card h-100">
                                {% if product.img %}
                                    <div class="image-container" style="height: 200px; overflow: hidden;">
                                        <img src="/cms/images/{{ product.image.path }}" class="card-img-top img-fluid" style="object-fit: cover; height: 100%; width: 100%;" alt="{{ product.name }}">
                                    </div>
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <p class="card-text">Description</p>
                                    <p class="card-text">Prix: {{ product.priceHT }}€</p>
                                    <a href="{{ path('app_product_show_detail', {'id': product.id}) }}" class="btn btn-outline-primary">Voir le produit</a>
                                </div>
                                <a class="btn btn-primary add-to-cart" id="product-{{product.id}}">Ajouter au panier</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
