{% extends 'base-admin.html.twig' %}

{% block title %}E-com - Admin{% endblock %}

{% block body %}
    <h1>Download</h1>

    <div class="container">
        <table>
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody>
                {% for image in images %}
                    <tr>
                        <th scope="row">{{ image.id }}</th>
                        <td>{{ image.name }}</td>
                        <td>{{ image.path }}</td>

                        {% if image.public == true %}
                            <td><img class="img-fluid" src="/cms/images/{{ image.path }}" height="100"></td>
                        {% else %}
                            <td><img class="img-fluid" src="{{ path("app_image_stream", {id : image.id}) }}" height="100"></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
