{% extends 'base-admin.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Product Index</h1>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.id }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.priceHT }} €</td>
                            <td>{{ product.img }}</td>
                            <td>
                                <a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-info">Afficher</a>
                                <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn btn-secondary">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">No records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <a href="{{ path('app_product_new') }}" class="btn btn-primary">Créer un nouveau produit</a>
    </div>
{% endblock %}
