{% extends 'base-admin.html.twig' %}

{% block title %}Ecom - Admin - User List{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Liste des Utilisateurs</h1>

        <div class="table-responsive mt-4">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.firstname }}</td>
                            <td>
                                <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-info">Afficher</a>
                                <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-secondary">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">Aucun enregistrement trouvé</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <a href="{{ path('app_user_new') }}" class="btn btn-primary mt-3">Créer un nouvel utilisateur</a>
    </div>
{% endblock %}
